<link rel="stylesheet" href="../stylesheets/todoview.css">

<section class="container">
    <div class="row mt-5">
        <div class="col-md-6 ">
            <div class="logo mb-5">
                <img src="../images/group.svg" alt="">
            </div>
            <div class="add-todo mt-5 pt-5">
                <h1 class="text-center">TODO</h1>
                <div class="container mt-5 todo-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquet at eleifend feugiat vitae faucibus nibh dolor dui.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquet at eleifend feugiat vitae faucibus nibh dolor dui. 
                </div>
                <div class="form">
                    <form action="/add-todo" method="post"></form>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>